<!--
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Dashboard - Brand</title>
  <link rel="stylesheet" href="assetsEditDiary/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="assetsEditDiary/fonts/fontawesome-all.min.css">
  <link rel="stylesheet" href="assetsEditDiary/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="assetsEditDiary/fonts/fontawesome5-overrides.min.css">
</head>

<body id="page-top">
<div id="wrapper">
  <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a
      class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="editDiary">
      <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
      <div class="sidebar-brand-text mx-3"><span>Заполнение<br>дневника</span></div>
    </a>
      <hr class="sidebar-divider my-0">
      <ul class="navbar-nav text-light" id="accordionSidebar">
        <li class="nav-item"><a class="nav-link active" href="editDiary"><i class="fas fa-tachometer-alt"></i><span>Заполнение дневника</span></a>
        </li>
        <li class="nav-item"><a class="nav-link" href="menuTeacher"><i
          class="fas fa-user"></i><span>Личный кабинет</span></a></li>
        <li class="nav-item"></li>
        <li class="nav-item"><a class="nav-link" (click)="exit()"><i
          class="far fa-user-circle"></i><span>Выход</span></a>
        </li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </nav>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
          <h3 class="text-dark mb-0">Заполнение дневника</h3>
        </div>
        <form (ngSubmit)="f.form.valid && addGradle()" #f="ngForm" novalidate>
          <div class="row">
            <div class="col">
              <p style="margin: -1px;width: 701.6px;padding: -7px;">Выберите дату, на которую нужно выставить оценку
                и домашнее задание.</p><input type="date" required [(ngModel)]="date"
                                              name="dataForTable">
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th>ФИО ученика</th>
                    <th>Предмет</th>
                    <th>Отметка</th>
                    <th>Был/не был</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><input type="text" placeholder="Введите ФИО ученика через пробел" required
                               [(ngModel)]="fioPupil" name="fioPupil" minlength="1" maxlength="60"
                               pattern="([a-zA-Zа-яёА-ЯЁ]){1,20}(\\s)([a-zA-Zа-яёА-ЯЁ]){1,20}(\\s)([a-zA-Zа-яёА-ЯЁ]){1,20}">
                    </td>
                    <td><input type="text" placeholder="Введите предмет" required [(ngModel)]="diaryDTO.subject"
                               name="subject" minlength="1" maxlength="20" pattern="([a-zA-Zа-яёА-ЯЁ]){1,20}"></td>
                    <td><input type="number" required [(ngModel)]="diaryDTO.grade" name="grade" min="1" max="10"
                               pattern="[0-10]"></td>
                    <td><small>Не был&nbsp;&nbsp;</small><input type="checkbox" name="attendance" checked=""
                                                                [(ngModel)]="diaryDTO.attendance"></td>
                  </tr>
                  <tr></tr>
                  </tbody>
                </table>
                <div class="col-lg-5 offset-lg-0">
                  <button class="btn btn-primary" type="button" data-bs-target="search" style="margin: 39px;"
                          (click)="addGradle()">Выставить оценку и пропуск
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="s1==2; else unset" class="alert alert-warning">
            Добавление предмета провалилось!<br/>{{errorMessage1}}
          </div>
          <ng-template #unset>
            <div *ngIf="s1==3" class="alert alert-warning">
              <p>Добавление прошло успешно</p>
            </div>
          </ng-template>
        </form>
        <form (ngSubmit)="f1.form.valid && addHomework()" #f1="ngForm" novalidate>
          <div class="row">
            <div class="col">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Класс</th>
                    <th>Предмет</th>
                    <th>Домашнее задание</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><input type="text" placeholder="Введите класс" required [(ngModel)]="diaryDTO.className"
                               name="className" minlength="1" maxlength="60" pattern="[1-11](\\s)([a-zA-Zа-яёА-ЯЁ]){1}">
                    </td>
                    <td><input type="text" placeholder="Введите предмет" required [(ngModel)]="diaryDTO.subject"
                               name="subject" minlength="1" maxlength="60" pattern="([a-zA-Zа-яёА-ЯЁ]){1,20}"></td>
                    <td><input type="text" required [(ngModel)]="diaryDTO.homework" name="homework"
                               placeholder="Введите домашнее задание" pattern="([a-zA-Zа-яёА-ЯЁ]){1,20}"></td>
                  </tr>
                  <tr></tr>
                  </tbody>
                </table>
                <button class="btn btn-primary" type="button" data-bs-target="search" style="margin: 39px;"
                        (click)="addHomework()">Выставить домашнее задание
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="s==2; else unset" class="alert alert-warning">
            Добавление домашнего задания провалилось!<br/>{{errorMessage}}
          </div>
          <ng-template #unset>
            <div *ngIf="s==3" class="alert alert-warning">
            <p>Добавление прошло успешно</p>
            </div>
          </ng-template>
        </form>
      </div>
    </div>
    <footer class="bg-white sticky-footer">
      <div class="container my-auto">
        <div class="text-center my-auto copyright"><span>Колосович Ульяна © Brand 2022</span></div>
      </div>
    </footer>
  </div>
</div>
<script src="assetsEditDiary/bootstrap/js/bootstrap.min.js"></script>
<script src="assetsEditDiary/js/theme.js"></script>
</body>

</html>
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Dashboard - Brand</title>
  <link rel="stylesheet" href="editDiaryAssets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="editDiaryAssets/fonts/fontawesome5-overrides.min.css">
</head>

<body id="page-top">
<div id="wrapper">
  <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
      <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
      <div class="sidebar-brand-text mx-3"><span>Заполнение<br>журнала</span></div>
    </a>
      <hr class="sidebar-divider my-0">
      <ul class="navbar-nav text-light" id="accordionSidebar">
        <li class="nav-item"><a class="nav-link active" href="#dataAnalytics"><i class="fas fa-tachometer-alt"></i><span>Журнал</span></a></li>
        <li class="nav-item"><a class="nav-link" href="menuTeacher"><i class="fas fa-user"></i><span>Личный кабинет</span></a></li>
        <li class="nav-item"></li>
        <li class="nav-item"><a class="nav-link" href="main"><i class="far fa-user-circle"></i><span>Выход</span></a></li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </nav>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
          <h3 class="text-dark mb-0">Заполнение журнала</h3>
        </div>
        <div class="row">
          <div class="col offset-xl-0">
            <p style="margin: -1px;width: 701.6px;padding: -7px;">Выберите класс и предмет</p><button class="btn btn-primary" type="button" data-bs-target="search" style="margin: 39px;">Выставить</button>
            <select name="subject" value="null" required="">
            <optgroup label="subject">
              <option value="12" selected="">This is item 1</option>
              <option value="13">This is item 2</option>
              <option value="14">This is item 3</option>
            </optgroup>
          </select>
            <select [(ngModel)]="selectedValue">
              <option *ngFor="let c of classnames" [ngValue]="c">{{c.name}}</option>
            </select>
            <!--<select #teams (change)="onSelected(teams.value)" id="classroom" name="classroom" required="" style="margin: 0px; margin-left: 7px">
            <optgroup *ngFor="let classname of classnames | async" label="classroom">
              <option value="{{classname.name}}">{{classname.name}}</option>
            </optgroup>
          </select>-->
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>ФИО ученика</th>
                  <th>Дата<br>занятия</th>
                  <th>Средняя<br>отметка</th>
                  <th>Количество<br>пропусков</th>
                  <th>Четвертная<br>отметка</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>ФИО</td>
                  <td><input type="number" min="1" max="10">
                    <small>Не был&nbsp;&nbsp;</small><input type="checkbox" name="attendance" checked=""></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                <tr></tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col">
                <br><br>
                <input type="date" name="dataForTable">
                <pre></pre>
                <input type="text" name="homework" placeholder="Введите домашнее задание">
                <button class="btn btn-primary" type="button" data-bs-target="addHomework" style="margin: 39px;">Добавить домашнее задание</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="bg-white sticky-footer">
      <div class="container my-auto">
        <div class="text-center my-auto copyright"><span>Колосович Ульяна © Brand 2022</span></div>
      </div>
    </footer>
  </div>
</div>
<script src="editDiaryAssets/bootstrap/js/bootstrap.min.js"></script>
<script src="editDiaryAssets/js/theme.js"></script>
</body>

</html>
