<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Dashboard - Brand</title>
  <link rel="stylesheet" href="assetsAnalytic/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
<!--  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js" ></script>-->
<!--  <script src = "https://cdn.zingchart.com/zingchart.min.js" ></script>-->
<!--  <script src = "https://cdn.zingchart.com/angular/zingchart-angularjs.js" ></script>-->
<!--<script>angular.module ( 'myApp' , [ 'zingchart-angularjs' ]);-->
<!--$scope.myJson = {-->
<!--  type : 'line' ,-->
<!--  series : [-->
<!--    { values : [ 54 , 23 , 34 , 23 , 43 ] },-->
<!--    { values : [ 10 , 15 , 16 , 20 , 40 ] }-->
<!--  ]-->
<!--};</script>-->
<!--  <zingchart id = "myChart" zc-json = "myJson" zc-height = 500 zc-width = 600 ></zingchart>-->
</head>

<body id="page-top">
<div id="wrapper">
  <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a
      class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="dataAnalytics">
      <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
      <div class="sidebar-brand-text mx-3"><span>Анализ</span></div>
    </a>
      <hr class="sidebar-divider my-0">
      <ul class="navbar-nav text-light" id="accordionSidebar">
        <li class="nav-item"><a class="nav-link active" href="dataAnalytics"><i class="fas fa-tachometer-alt"></i><span>Доска для анализа данных</span></a>
        </li>
        <li class="nav-item"><a class="nav-link" href="menuStudent"><i
          class="fas fa-user"></i><span>Личный кабинет</span></a></li>
        <li class="nav-item"><a class="nav-link" href="diary"><i class="fas fa-table"></i><span>Дневник</span></a></li>
        <li class="nav-item"><a class="nav-link" href="main" (click)="exit()"><i class="far fa-user-circle"></i><span>Выход</span></a>
        </li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </nav>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
<!--      <div zingchart id="chart-1" zc-json="myJson" zc-width="100%" zc-height="568px"></div>-->
      <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
          <h3 class="text-dark mb-0">Доска для анализа данных</h3><a
          class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" (click)="saveGrades()"><i
          class="fas fa-download fa-sm text-white-50"></i>&nbsp;Сохранить отчёт об успеваемости</a>
        </div>
        <div class="row">
          <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-primary py-2">
              <div class="card-body">
                <div class="row align-items-center no-gutters">
                  <div class="col me-2">
                    <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Средний балл в четверти</span>
                    </div>
                    <div class="text-dark fw-bold h5 mb-0"><span>{{averageGrade}}</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-success py-2">
              <div class="card-body">
                <div class="row align-items-center no-gutters">
                  <div class="col me-2">
                    <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Лицевой счет</span></div>
                    <div class="text-dark fw-bold h5 mb-0"><span>{{pupilDTO.personalCheck}}</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <div class="row">
            <div class="col-md-6 col-xl-3 mb-4">
              <div class="card shadow border-start-warning py-2">
                <div class="card-body">
                  <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Количество пропусков</span>
                  </div>
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <div class="text-dark fw-bold h5 mb-0"><span>{{numberAttendance}}</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xl-3 mb-4">
              <div class="card shadow border-start-warning py-2">
                <div class="card-body">
                  <div class="row align-items-center no-gutters">
                    <div class="col me-2">
                      <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Класс</span></div>
                      <div class="text-dark fw-bold h5 mb-0"><span>{{pupilDTO.className}}</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        <div class="chart-wrapper">
<!--          <canvas baseChart-->
<!--                  [data]="pieChartData"-->
<!--                  [labels]="pieChartLabels"-->
<!--                  [chartType]="pieChartType"-->
<!--                  [options]="pieChartOptions"-->
<!--                  [plugins]="pieChartPlugins"-->
<!--                  [legend]="pieChartLegend">-->
<!--          </canvas>-->
          <div class="row">
            <div class="col-lg-6 mb-4">
              <canvas baseChart [data]="data1" [type]="config1.type" [options]="config1.options"></canvas>
              <canvas baseChart [data]="data2" [type]="config2.type"></canvas>
            </div>
            <div class="col-lg-6 mb-4">
              <canvas baseChart [data]="data" [type]="config.type"></canvas>
            </div>
          </div>
          <!--          <canvas id="can" width="200" height="200"></canvas>-->
        </div>
      </div>
    </div>
    <footer class="bg-white sticky-footer">
      <div class="container my-auto">
        <div class="text-center my-auto copyright"><span>Колосович Ульяна © Brand 2022</span></div>
      </div>
    </footer>
  </div>
  <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="assetsAnalytic/bootstrap/js/bootstrap.min.js"></script>
<script src="assetsAnalytic/js/chart.min.js"></script>
<script src="assetsAnalytic/js/bs-init.js"></script>
<script src="assetsAnalytic/js/theme.js"></script>
</body>

</html>
